<!DOCTYPE html>

<html>
<head>
  <title>Painel</title>
  <meta charset='utf-8' />
  

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

</head>

<body>
   <section data-ui-view ></section>
   <a  href='users'>State 2</a>
    <!-- We'll also add some navigation: -->

  <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<!--
  <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

  <script type="text/javascript" src="/teste.js"></script>
-->
  <script type="text/javascript" src="/init.js"></script>
  <script type="text/javascript" src="/routes/system.js"></script>
<!--  <script type="text/javascript" src="/system.js"></script>
  
-->





</body>
</html>
